# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/bundle/

# Ruby / gems
*.gem

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Node (if ever used in future)
node_modules/
